$corp-green: #39B54A;
$light-green: #67C674;
$corp-orange: #FFCF1B;
$light-grey: #B4B4B4;
$grey-border: #EFEFEF;
$bg-color: #E5E5E5;

$dark-text: #404844;
$white: #fff;
$black: #000;

$itemPadding: 15;